<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-firebasex" version="18.0.0-cli"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
>
	<name>Google Firebase Plugin</name>

	<license>MIT</license>

</plugin>
